/* GlossyBlue (AS additions) */

.node-teaser .post-content p object,
.node-teaser .post-content p embed {
	margin-left: -46px;
}

.node-teaser .post-content div.flash_embed {
	margin-left: -54px;
}

div#aggregator .feed-item h3.feed-item-title {
	display: none;
}

h3#comments {
	margin-top: 30px;
}
